.about-section {
  width: 100%;
  height:1000px ;
  padding: 10px 0;
  
}

.about-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.about-image img {
  width: 480px;
  border-radius: 22px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
  transition: 0.4s ease;
}

.about-image img:hover {
  transform: scale(1.07);
}

.about-text {
  flex: 1;
  animation: fadeIn 1s ease-in-out;
}

.about-title {
  font-size: 45px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 20px;
}

.about-desc {
  font-size: 18px;
  line-height: 1.7;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Highlight Boxes */
.about-highlights {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.highlight-box {
  
  padding: 20px 25px;
  border-radius: 15px;
  width: 270px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s;
  margin: 25px;
}

.highlight-box:hover {
  transform: translateY(-8px);
}

.highlight-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #9ac9a5;
}

.highlight-box p {
  font-size: 15px;
  color: #ffffff;
}

/* Points */
.about-points li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 1.5;
  color: #ffffff;
}

/* Button */
.about-btn {
  margin-top: 30px;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  background: #0b6bbf;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background: #084e8a;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
